{% extends 'master' %}

{% block content %}
<div>
  <p>
    Below is the list of all the awesome posts created by all of us. You can also
    contribute by clicking the below button.
  </p>
  <a href="posts/create" class="waves-effect waves-light btn"> Create New Post </a>
  <hr>
</div>

<table class="highlight">
<thead><tr><th>Title</th><th>Description</th></tr></thead>
  <tbody>
  {% for post in posts %} 
    <tr>
      <td><a href="posts/{{ post.id }}"> {{ post.title }} </a> </td>
      <td>{{ post.content | truncate(150) }}</td>
    </tr>
  {% else %}
    <h2> No posts found </h2>
  {% endfor %}
   </tbody>  
</table>

{% endblock %}