{% extends 'master' %}

{% block content %}
  {{ form.open({action: 'PostsController.store'}) }}

    {{ csrfField }}

    
    <label>
      Post Title <span class='req'>*</span>
      <!-- {{ form.label('Post Title') }} -->
      {{ form.text('title', null, { class: 'width-50' }) }}
    </label>

    <label>
      {{ form.label('Description') }}
      {{ form.textarea('content', null, { class: 'width-50' }) }}
    </label>

    <p>
    {{ form.submit('Publish', 'publish', { class: 'waves-effect waves-light btn' }) }}
    {{ form.resetButton('Clear', null, {class: 'waves-effect waves-light btn'}) }}
    </p>
  {{ form.close() }}
{% endblock %}